<div class="bg-secondary">
	
<h2 class="text-center">Cart</h2>

<div class="cart-item text-center" *ngFor="let item of items">
 <span>{{ item.name }} </span>
 <span>{{ item.price | currency }}</span>
</div>

<form class="text-center" [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">

 <div>
   <label for="name">
     Name:
   </label>
   <input id="name" type="text" formControlName="name">
 </div>

 <div>
   <label for="address" class="ml-n3">
     Address:
   </label>
   <input id="address" type="text" formControlName="address">
 </div>

 <button class="button ml-3 m-2 mb-3" type="submit">Purchase</button>

</form>
</div>